.navMain {
  width: 100%;
  height: 70px;
  background-color: black;
}

.navMenu {
  max-width: 50%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}